@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Permanent+Marker&family=Orbitron:wght@600&display=swap');

:root {
  --first-color: #42a5f5;
  --second-color: #7e57c2;
  --first-g-color: #09b5ee;
  --second-g-color: #7357ff;
  --hue: 223;
  --bg: hsl(var(--hue), 90%, 95%);
  --fg: hsl(var(--hue), 90%, 5%);
  --trans-dur: 0.3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  height: 100dvh;
  width: 100vw;
}

::-webkit-scrollbar {
  display: none;
}

.hide {
  display: none;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  background: linear-gradient(135deg, #1ec4d9, #7c5eff);
}