.home-container {
    height: 100dvh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: linear-gradient(135deg, #1ec4d9, #7c5eff);
}

.home-container .wrapper {
    padding: 20px;
    height: 500px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.08);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 30px;
}

.home-container .first {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-container .first .lft img {
    height: 70px;
    padding: 0;
}


.home-container .first .rht {
    display: flex;
    gap: 20px;
}

.home-container .first .rht span {
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.home-container .first .rht span:hover {
    text-decoration: underline;
}


.home-container .second {
    margin-left: 22%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.home-container .second h1 {
    font-size: 3.7rem;
}

.home-container .third {
    text-align: center;
}

.home-container .first,
.home-container .second,
.home-container .third {
    z-index: 10;
}

.home-container .dice-img {
    position: absolute;
    top: 40%;
    left: -8%;
}

.home-container .dice-img img {
    height: 350px;
}

.home-container .second .btns {
    display: flex;
    gap: 10px;
}

.home-container .second .btns button {
    padding: 10px 15px;
    border-radius: 10px;
    color: #fff;
    border: none;
    font-size: 1rem;
    font-weight: bolder;
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease-in-out;
}

.home-container .second .btns .create-btn {
    background-color: #1ec4d9;
}

.home-container .second .btns .join-btn {
    background-color: transparent;
}

.home-container .second .btns .create-btn:hover {
    background-color: transparent;
    transform: translateY(-5px);
}

.home-container .second .btns .join-btn:hover {
    background-color: #1ec4d9;
    transform: translateY(-5px);
}

.home-container .red {
    position: absolute;
    height: 180px;
    background-color: transparent;
    filter: drop-shadow(0 0 5px);
    top: 70%;
    left: -22%;
    rotate: -20deg;
}

.home-container .green {
    position: absolute;
    height: 150px;
    background-color: transparent;
    filter: drop-shadow(0 0 5px #fff);
    top: 20%;
    left: 11%;
    rotate: -20deg;
}

.home-container .yellow {
    position: absolute;
    height: 180px;
    background-color: transparent;
    filter: drop-shadow(0 0 5px);
    top: 20%;
    left: 80%;
}

.home-container .blue {
    position: absolute;
    height: 180px;
    background-color: transparent;
    filter: drop-shadow(0 0 5px);
    top: 70%;
    left: 70%;
    rotate: 20deg;
}